@media (min-width: 0px) {
    .logging-registration-link-container a {
        font-size: 1.1rem;
    }

    .main-container {
        width: 100% !important;
        padding-left: 0.6rem !important;
        padding-right: 0.6rem !important;
    }

    .disclaimer-container h1,
    .user-data-container h1 {
        font-size: 1.2rem;
    }
}

@media (min-width: 576px) {
    .logging-registration-link-container a {
        font-size: 1.2rem;
    }

    .main-container {
        width: 90% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
    .main-container {
        width: 80% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 992px) {
    .main-container {
        width: 60% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1200px) {
    .main-container {
        width: 50% !important;
        margin-left: auto;
        margin-right: auto;
    }
}

.disclaimer-container,
.user-data-container {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
}

.disclaimer-container h1,
.user-data-container h1 {
    font-weight: bold;
    letter-spacing: 0.05rem !important;
    padding: 1rem;
    padding-bottom: 0rem;
    margin: 0;
}

.disclaimer-main-components,
.user-data-main-components {
    padding: 1rem;
}

.disclaimer-main-components p,
.user-data-main-components p {
    font-size: 0.9rem;
    text-align: justify;
}

.check-out-vaccination-dates {
    width: 100%;
    text-align: center !important;
}

.user-text {
    color: rgb(245, 123, 17) !important;
}

.button-cancel {
    background-color: rgb(255, 133, 27) !important;
    width: 100%;
    height: 100%;
    padding: .75rem 1.25rem !important;
    color: white !important;
    border: none !important;
    outline: none !important;
    cursor: pointer;
}

.button-cancel:focus, .button-cancel:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.button-cancel:hover {
    background-color: rgb(245, 123, 17) !important;
}
